name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'
permissions:
  pull-requests: write
  contents: write
jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format & Lint
        id: biome-check
        run: npm run check

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action-v1:
    name: GitHub Actions Test (v1)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Test Local Action (v1)
        id: test-action
        uses: ./
        with:
          api-key: ${{ secrets.API_KEY }}
          test-suite-id: clo3w9pcj0001ml08rdits9es

      - name: Print Output
        id: output
        run: echo "${{ steps.test-action.outputs.success }}"

  test-action-v2:
    name: GitHub Actions Test (v2)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Test Local Action (v2)
        id: test-action-v2
        uses: ./
        with:
          api-key: ${{ secrets.API_KEY }}
          project-id: clle9fscu0000jf087maicxbc
          run-group-name: CI TESTS

      - name: Print Output
        id: output
        run: echo "${{ steps.test-action-v2.outputs.success }}"
